* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 70px;
  background-color: #338a3e;
  color: white;
  text-align: center;
  line-height: 70px;
}
