<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="guestBookMybatis">
	<sql id="search">
		<choose>
			<when test="dto.searchGubun == 'name_content'">
				AND (name LIKE '%' || #{dto.searchData} || '%' OR content LIKE '%' || #{dto.searchData} || '%')
			</when>
			<when test="dto.searchGubun != null and dto.searchGubun != '' and dto.searchData != null and dto.searchData != ''">
				AND ${dto.searchGubun} LIKE '%' || #{dto.searchData} || '%'
			</when>
			<otherwise>
				
			</otherwise>
		</choose>
	</sql>
	
	<select id="getTotalRecord" resultType="int">
		SELECT COUNT(*) 
		  FROM ${tableName01}
	  	 WHERE 1=1
	  	 <include refid="search"></include>
	</select>
	
	<select id="getSelectAll" resultType="project.guestBookMybatis.model.dto.GuestBookMybatisDTO">
		SELECT * 
		  FROM (SELECT rownum rnum, basic.* 
				  FROM (SELECT * 
				  		  FROM ${tableName01} 
				  		 WHERE 1=1 
						 <include refid="search"></include>
<!-- SQL문장에서 <와 >가 태그의 <와 >랑 혼동이 되므로 표시해서 구분지음 -->
<![CDATA[ 
					  ORDER BY no DESC) basic
			   )
		 WHERE rnum >= #{dto.startRecord} 
		   AND rnum <= #{dto.lastRecord}
]]>
	</select>
	
	<select id="getSelectOne" resultType="project.guestBookMybatis.model.dto.GuestBookMybatisDTO">
		SELECT * 
		  FROM ${tableName01}
	     WHERE no = #{dto.no}
	</select>
	
	<insert id="setInsert">
		INSERT INTO ${tableName01} (no, name, email, passwd, content, regiDate, memberNo)
			 VALUES (seq_guestBook.NEXTVAL, #{dto.name}, #{dto.email}, #{dto.passwd}, #{dto.content}, SYSDATE, #{dto.memberNo})
	</insert>
	
	<update id="setUpdate">
		UPDATE ${tableName01} 
		   SET name = #{dto.name}, email = #{dto.email}, content = #{dto.content}
		 WHERE no = #{dto.no}
		   AND passwd = #{dto.passwd}
		   AND memberNo = #{dto.memberNo}
	</update>
	
	<delete id="setDelete">
		DELETE FROM ${tableName01}
			  WHERE no = #{dto.no}
			    AND passwd = #{dto.passwd}
			    AND memberNo = #{dto.memberNo}
	</delete>
</mapper>