table {
  table-layout: auto;
  width: 80%;
  border-collapse: separate;
  border-spacing: 5px 10px;
  border: 2px solid blue;
  empty-cells: hide;
}

td {
  width: calc(100% / 5);
  text-align: center;
  border: 1px dotted tomato;
}
