#b1 {
  background-color: lavender;
  width: 150px;
  height: 50px;
  margin: 20px;
  border-width: 10px;
  border-color: green;
  border-style: solid;
}
#b2 {
  background-color: orange;
  width: 150px;
  height: 50px;
  margin: 20px;
  border-width: 10px;
  border-color: gray red green blue;
  border-style: solid double;
}
